In [4]:
import pandas as pd

In [5]:
#load dataset
nflx = pd.read_csv('titles.csv')

In [6]:
#head dataset
nflx.head()

,id,title,type,description,release_year,age_certification,runtime,genres,production_countries,seasons,imdb_id,imdb_score,imdb_votes,tmdb_popularity,tmdb_score
0,ts300399,Five Came Back: The Reference Films,SHOW,This collection includes 12 World War II-era p...,1945,TV-MA,51,['documentation'],['US'],1.0,NaN,NaN,NaN,0.600,NaN
1,tm84618,Taxi Driver,MOVIE,A mentally unstable Vietnam War veteran works ...,1976,R,114,"['drama', 'crime']",['US'],NaN,tt0075314,8.2,808582.0,40.965,8.179
2,tm154986,Deliverance,MOVIE,Intent on seeing the Cahulawassee River before...,1972,R,109,"['drama', 'action', 'thriller', 'european']",['US'],NaN,tt0068473,7.7,107673.0,10.010,7.300
3,tm127384,Monty Python and the Holy Grail,MOVIE,"King Arthur, accompanied by his squire, recrui...",1975,PG,91,"['fantasy', 'action', 'comedy']",['GB'],NaN,tt0071853,8.2,534486.0,15.461,7.811
4,tm120801,The Dirty Dozen,MOVIE,12 American military prisoners in World War II...,1967,NaN,150,"['war', 'action']","['GB', 'US']",NaN,tt0061578,7.7,72662.0,20.398,7.600

In [7]:
#info dataset
nflx.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5850 entries, 0 to 5849
Data columns (total 15 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    5850 non-null   object
 1   title                 5849 non-null   object
 2   type                  5850 non-null   object
 3   description           5832 non-null   object
 4   release_year          5850 non-null   int64
 5   age_certification     3231 non-null   object
 6   runtime               5850 non-null   int64
 7   genres                5850 non-null   object
 8   production_countries  5850 non-null   object
 9   seasons               2106 non-null   float64
 10  imdb_id               5447 non-null   object
 11  imdb_score            5368 non-null   float64
 12  imdb_votes            5352 non-null   float64
 13  tmdb_popularity       5759 non-null   float64
 14  tmdb_score            5539 non-null   float64
dtypes: float64(5), int64(2), object(8)
memory usage: 685.7+ KB

In [8]:
#some statistics of score
nflx[['imdb_score', 'tmdb_score']].describe()

        imdb_score   tmdb_score
count  5368.000000  5539.000000
mean      6.510861     6.829175
std       1.163826     1.170391
min       1.500000     0.500000
25%       5.800000     6.100000
50%       6.600000     6.900000
75%       7.300000     7.537500
max       9.600000    10.000000

In [9]:
#Check the missing value data
nflx.isnull().sum()

id                         0
title                      1
type                       0
description               18
release_year               0
age_certification       2619
runtime                    0
genres                     0
production_countries       0
seasons                 3744
imdb_id                  403
imdb_score               482
imdb_votes               498
tmdb_popularity           91
tmdb_score               311
dtype: int64

Dealing with missing value

Title

In [10]:
nflx2 = nflx
nflx2[nflx2['title'].isnull()]

,id,title,type,description,release_year,age_certification,runtime,genres,production_countries,seasons,imdb_id,imdb_score,imdb_votes,tmdb_popularity,tmdb_score
1704,tm1063792,NaN,MOVIE,NaN,2015,NaN,11,[],[],NaN,tt4661188,NaN,NaN,NaN,NaN

In [11]:
#Since only few information avaible and the missing data only 1, data with missing title will be removed
nflx2.dropna(subset=['title'], inplace=True)

Description

In [12]:
nflx2[nflx2['description'].isnull()]

,id,title,type,description,release_year,age_certification,runtime,genres,production_countries,seasons,imdb_id,imdb_score,imdb_votes,tmdb_popularity,tmdb_score
1111,ts271005,幸福料理,SHOW,NaN,2014,TV-14,44,[],[],1.0,NaN,NaN,NaN,0.600,NaN
1114,tm681614,Grandmother's Farm,MOVIE,NaN,2013,NaN,71,"['comedy', 'horror']",[],NaN,tt10033686,2.9,78.0,NaN,NaN
2105,ts82770,Camarón Revolution,SHOW,NaN,2018,TV-14,52,"['documentation', 'reality']",['ES'],1.0,NaN,NaN,NaN,1.290,7.0
2189,ts82375,Beyblade Burst Turbo,SHOW,NaN,2018,TV-Y7,22,"['scifi', 'action']",['JP'],1.0,NaN,NaN,NaN,0.600,0.5
2485,ts268283,RIDE ON TIME,SHOW,NaN,2018,TV-PG,22,[],['JP'],3.0,NaN,NaN,NaN,1.328,NaN
2754,ts106612,Chicken Soup for the Soul's Being Dad,SHOW,NaN,2018,TV-PG,40,['reality'],[],1.0,tt8908110,NaN,NaN,NaN,NaN
2798,tm407349,The Birth Reborn 2,MOVIE,NaN,2018,PG,91,['documentation'],['BR'],NaN,tt16114198,6.6,5.0,1.400,5.8
3700,ts312044,Beyblade Burst Surge,SHOW,NaN,2020,TV-Y,23,['animation'],['JP'],1.0,tt18554728,8.3,30.0,7.501,9.7
4110,ts223062,ปริศนาล่าข้ามเวลา,SHOW,NaN,2019,TV-14,60,[],['TH'],1.0,NaN,NaN,NaN,1.473,7.0
4274,tm1172010,The Lockdown Plan,MOVIE,NaN,2020,NaN,49,[],[],NaN,tt13079112,6.5,NaN,NaN,NaN
4358,ts255867,뽀로로 동화나라,SHOW,NaN,2020,TV-Y,14,['animation'],['KR'],1.0,NaN,NaN,NaN,0.600,NaN
4552,tm896976,True: Rainbow Rescue,MOVIE,NaN,2020,NaN,23,['animation'],['US'],NaN,NaN,NaN,NaN,2.410,10.0
4581,tm840152,Amsterdam to Anatolia,MOVIE,NaN,2019,NaN,6,"['thriller', 'drama']","['NL', 'PS', 'US', 'LB']",NaN,NaN,NaN,NaN,1.017,6.0
4606,tm855232,Luccas Neto in: The End of Christmas,MOVIE,NaN,2019,NaN,71,[],[],NaN,NaN,NaN,NaN,1.603,7.8
4668,tm902993,Mama Drama,MOVIE,NaN,2020,NaN,85,['drama'],['US'],NaN,tt12424356,6.3,8.0,NaN,NaN
4675,ts304136,마법버스 타요,SHOW,NaN,2020,TV-Y7,24,[],['KR'],1.0,NaN,NaN,NaN,0.600,NaN
5483,tm1237253,My Little Pony: A New Generation: Sing-Along,MOVIE,NaN,2022,NaN,90,[],[],NaN,NaN,NaN,NaN,NaN,NaN

Since few data with missing description, the data will be removed

In [13]:
nflx2.dropna(subset=['description'], inplace=True)

Age certification

In [14]:
#Since many data with no age certification, the missing data will be replaced with "No age certification"
nflx2['age_certification'].fillna('No age certification', inplace=True)

Seasons

In [15]:
#Check the data with missing seasons
nflx2[nflx2['seasons'].isnull()]

,id,title,type,description,release_year,age_certification,runtime,genres,production_countries,seasons,imdb_id,imdb_score,imdb_votes,tmdb_popularity,tmdb_score
1,tm84618,Taxi Driver,MOVIE,A mentally unstable Vietnam War veteran works ...,1976,R,114,"['drama', 'crime']",['US'],NaN,tt0075314,8.2,808582.0,40.965,8.179
2,tm154986,Deliverance,MOVIE,Intent on seeing the Cahulawassee River before...,1972,R,109,"['drama', 'action', 'thriller', 'european']",['US'],NaN,tt0068473,7.7,107673.0,10.010,7.300
3,tm127384,Monty Python and the Holy Grail,MOVIE,"King Arthur, accompanied by his squire, recrui...",1975,PG,91,"['fantasy', 'action', 'comedy']",['GB'],NaN,tt0071853,8.2,534486.0,15.461,7.811
4,tm120801,The Dirty Dozen,MOVIE,12 American military prisoners in World War II...,1967,No age certification,150,"['war', 'action']","['GB', 'US']",NaN,tt0061578,7.7,72662.0,20.398,7.600
6,tm70993,Life of Brian,MOVIE,"Brian Cohen is an average young Jewish man, bu...",1979,R,94,['comedy'],['GB'],NaN,tt0079470,8.0,395024.0,17.770,7.800
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5844,tm1074617,Bling Empire - The Afterparty,MOVIE,"The stars of ""Bling Empire"" discuss the show's...",2021,No age certification,35,[],['US'],NaN,NaN,NaN,NaN,NaN,NaN
5845,tm1014599,Fine Wine,MOVIE,A beautiful love story that can happen between...,2021,No age certification,100,"['romance', 'drama']",['NG'],NaN,tt13857480,6.8,45.0,1.466,NaN
5846,tm898842,C/O Kaadhal,MOVIE,A heart warming film that explores the concept...,2021,No age certification,134,['drama'],[],NaN,tt11803618,7.7,348.0,NaN,NaN
5847,tm1059008,Lokillo,MOVIE,A controversial TV host and comedian who has b...,2021,No age certification,90,['comedy'],['CO'],NaN,tt14585902,3.8,68.0,26.005,6.300
5848,tm1035612,Dad Stop Embarrassing Me - The Afterparty,MOVIE,"Jamie Foxx, David Alan Grier and more from the...",2021,PG-13,37,[],['US'],NaN,NaN,NaN,NaN,1.296,10.000

All of data that with missing seasons seems to have type 'movie', so I will confirm it

In [16]:
len(nflx2[(nflx2['type']=='MOVIE') & (nflx2['seasons'].isnull())])

3735

All data with movie type has no seasons. It's understandable since movie doesn't has seasons.

In [17]:
#replace missing seasons with 0 (No seasons)
nflx2['seasons'].fillna(0, inplace=True)

Imdb_id variable

In [18]:
#Since only few data with missing imdb id, data with missing imdb id will be removed
nflx2.dropna(subset=['imdb_id'], inplace=True)

Imdb_score, Imdb votes

Data with missing value in both columns will be replaced by 0
Data with missing in only one column will be removed

In [19]:
nflx2[['imdb_score', 'imdb_votes']] =  nflx2[['imdb_score', 'imdb_votes']].fillna(0)
nflx2.dropna(subset='imdb_score', inplace=True)
nflx2.dropna(subset='imdb_votes', inplace=True)

Tmdb_popularity

Only few data with missing tmdb_popularity, so it will be removed

In [20]:
nflx2.dropna(subset='tmdb_popularity', inplace=True)

8. Tmdb_score

Only few data with missing tmdb_score, so it will be removed

In [21]:
nflx2.dropna(subset='tmdb_score', inplace=True)

All missing values has been removed.

In [22]:
nflx2.head()

,id,title,type,description,release_year,age_certification,runtime,genres,production_countries,seasons,imdb_id,imdb_score,imdb_votes,tmdb_popularity,tmdb_score
1,tm84618,Taxi Driver,MOVIE,A mentally unstable Vietnam War veteran works ...,1976,R,114,"['drama', 'crime']",['US'],0.0,tt0075314,8.2,808582.0,40.965,8.179
2,tm154986,Deliverance,MOVIE,Intent on seeing the Cahulawassee River before...,1972,R,109,"['drama', 'action', 'thriller', 'european']",['US'],0.0,tt0068473,7.7,107673.0,10.010,7.300
3,tm127384,Monty Python and the Holy Grail,MOVIE,"King Arthur, accompanied by his squire, recrui...",1975,PG,91,"['fantasy', 'action', 'comedy']",['GB'],0.0,tt0071853,8.2,534486.0,15.461,7.811
4,tm120801,The Dirty Dozen,MOVIE,12 American military prisoners in World War II...,1967,No age certification,150,"['war', 'action']","['GB', 'US']",0.0,tt0061578,7.7,72662.0,20.398,7.600
5,ts22164,Monty Python's Flying Circus,SHOW,A British sketch comedy series with the shows ...,1969,TV-14,30,"['comedy', 'european']",['GB'],4.0,tt0063929,8.8,73424.0,17.617,8.306

In [23]:
#save new file to a csv file
#pd.read_csv('file directory)